HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

logs
tmp

**/.flattened-pom.xml

*.dat
*.log
.DS_Store

### self config ###
### 忽略本地配置文件
application-local-*.yml
/examples/*
.env
.gitignore
.gitignore
/scripts/__pycache__/*
/app/__pycache__/*
/app/core/__pycache__/*
/app/services/__pycache__/*
app/rag_services/__pycache__/*
app/api/__pycache__/chat.cpython-312.pyc
app/models/__pycache__/schemas.cpython-312.pyc
app/models/__pycache__/schemas.cpython-312.pyc.2468560673152
app/rag_services/__pycache__/chat.cpython-312.pyc
app/rag_services/__pycache__/graph_indexing.cpython-312.pyc
app/rag_services/__pycache__/*
app/services/parsers/__pycache__/*
app/rag_services/__pycache__/chat.cpython-312.pyc
app/rag_services/__pycache__/graph_indexing.cpython-312.pyc
app/rag_services/__pycache__/vector_indexing.cpython-312.pyc
app/api/__pycache__/chat.cpython-312.pyc
app/models/__pycache__/schemas.cpython-312.pyc
app/models/__pycache__/schemas.cpython-312.pyc.1726118336896
app/rag_services/__pycache__/chat.cpython-312.pyc
app/api/__pycache__/chat.cpython-312.pyc
app/models/__pycache__/schemas.cpython-312.pyc
app/rag_services/__pycache__/chat.cpython-312.pyc
app/services/__pycache__/crawler.cpython-312.pyc
app/rag_services/__pycache__/vector_indexing.cpython-312.pyc
app/api/__pycache__/chat.cpython-312.pyc
app/api/__pycache__/chat.cpython-312.pyc
app/api/__pycache__/chat.cpython-312.pyc
app/api/__pycache__/chat.cpython-312.pyc.2000461157776
app/api/__pycache__/chat.cpython-312.pyc.1912282600848
app/api/__pycache__/chat.cpython-312.pyc
app/rag_services/__pycache__/vector_indexing.cpython-312.pyc
app/rag_services/__pycache__/chat.cpython-312.pyc
app/services/__pycache__/crawler.cpython-312.pyc
